body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url(background.png);
  text-align: center;
}

h4 {
  color: #FD7035;
}

h3 {
  text-decoration: underline;
}

#results {
  display: none;
}

.images {
  text-align: center;
}

.color {
  color: #FD7035
}

.btn {
  background-color: #FD7035;
  color: white;

}

.pingheader {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  text-align: center;
  margin-left: 0px;
}

.smallheader {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}
